.circle {
	border: 10px solid #f6e05e;
	border-radius: 50%;
	height: 110px;
	margin-left: 40px;
	margin-top: 20px;
	position: absolute;
	width: 75px;
}

#cross {
	background: #ed64a6;
	height: 100px;
	position: absolute;
	width: 20px;
	margin-top: 30px;
	margin-left: 70px;
	transform: rotate(45deg);
}
#cross:after {
	background: #ed64a6;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;
}
